
/* Navigation-container */
.navigation-container{
    width: calc(100vw - 260px);
    z-index: 1000; 
}

.navigation-container.open{
    width: calc(100vw - 60px);
}

/* Media Query f */
@media only screen and (max-width: 1024px){
    .navigation-container{
        width: calc(100vw - 200px);
    
        z-index: 1000; 
    }

    .navigation-container.open{
        width: calc(100vw - 60px);
    }
    
}

@media only screen and (max-width: 768px) {
.navigation-container{width: 100vw;}
}


